<article>
  <header class="border-b border-gray-300 dark:border-gray-600 mb-3">
    <h1>{{ title }}</h1>
  </header>

  {% block extraArticleHeader %}
    <aside>
      <p class="mb-8">
        {% if page.inputPath and page.inputPath.indexOf('/notes/') > -1 %}
          {# Show last updated date for notes #}
          <i>Last updated:
            <strong>
              <time datetime="{{ page.date | formatDate('iso') }}">
                {{ page.date | formatDate }}
              </time>
            </strong>
          </i>
        {% else %}
          {# Show creation date and reading time for posts #}
          <time datetime="{{ page.date | formatDate('iso') }}">
            {{ page.date | formatDate }}
          </time> • {{ content | readingTime }} minutes
        {% endif %}

        {# Render tags if available #}
        {% if tags %}
          • 
          {% for tag in tags %}
            <a href="/tags/{{ tag | slug }}/">{{ tag }}</a>{% if not loop.last %}, {% endif %}
          {% endfor %}
        {% endif %}
      </p>
    </aside>
  {% endblock %}

  {{ content | safe }}
</article>