<footer class="shrink-0 pt-12 pb-8 text-center w-full max-w-5xl mx-auto">
  <p class="mb-0">Copyright &copy; {% year %} Allistair Lee</p>
  <p class="mb-0"><!--<a href="https://x.com/allistairlee" target="_blank" rel="noopener noreferrer">X</a> • --><a href="https://github.com/allistairlee" target="_blank" rel="noopener noreferrer">GitHub</a></p>
  <p><a href="/privacy-policy/">Privacy Policy</a> • <a href="/rss.xml">RSS</a></p>
</footer>