<li>
    <a class="hover:underline" href="/now/"{% if page.url == '/now/' %} aria-current="page"{% endif %}>/now</a>
</li>
<li>
    <a class="hover:underline" href="/posts/"{% if page.url == '/posts/' %} aria-current="page"{% endif %}>/posts</a>
</li>
<li>
    <a class="hover:underline" href="/notes/"{% if page.url == '/notes/' %} aria-current="page"{% endif %}>/notes</a>
</li>