<!DOCTYPE html>
<html lang="{{ metadata.language }}">

  <head>
    {% include "snippets/head.njk" %}
  </head>

  <body>
    {% if page.url != "/404.html" %}
      {% include "snippets/navbar.njk" %}
    {% endif %}
    
    <main class="container">
      <div class="row d-flex justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
          <div class="content">
            {% block content %}
              {{ content | safe }}
            {% endblock %}
          </div>
        </div>
      </div>
    </main>
    
    {% if page.url != "/404.html" %}
      {% include "snippets/footer.njk" %}
    {% endif %}

  </body>
  
</html>