---
layout: base.njk
---

{% set tagPosts = collections[tagName] | filterMd | reverse %}
<header class="border-b border-gray-300 dark:border-gray-600 mb-3">
    <h1>Posts Tagged: {{ tagName }} ({{ tagPosts | length }})</h1>
</header>
  
{% for post in tagPosts %}
  <article class="mb-4 border-b border-gray-300 dark:border-gray-600 pb-3">
    <h2>
      <a href="{{ post.url }}">{{ post.data.title }}</a>
    </h2>
    <p class="text-gray-500">
      <time datetime="{{ post.date | formatDate('iso') }}">{{ post.date | formatDate }}</time> • {{ post.templateContent | readingTime }} minutes
    </p>
    <p>{{ post.templateContent | removeStylesScripts | firstParagraph | striptags | truncate(250, '...') }}</p>
    <a href="{{ post.url }}" class="no-underline">Read More →</a>
  </article>
{% endfor %}
